.row {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,10px);
    
}

.column {
    padding: 20px;
}

.column.members {
    /* How much of the width should it take up? a ralative factor */
    flex: 2;
}

.column.commits {
    flex: 4;
}

.viewInfo {
    background-color: red;
}

table, th, td {
    border: 1px solid rgb(107, 107, 107);
    text-align: center;
    font-family: "Palatino", "URW Palladio L", serif;
    
}

table{
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}
img {
    border-radius: 4px;
    width: 35px;
  }


td{
    padding: 10px;
}

.column.members{
    font-family: "Palatino", "URW Palladio L", serif;
}

p.memberliste{
    font-weight: bold;
    font-size: 25px;
}

p.graph{
    font-weight: bold;
    font-size: 25px;
    font-family: "Palatino", "URW Palladio L", serif;
}

/* CSS */
select {
  border-radius: 8px;
  border-width: 0;
  color: #272323;
  cursor: pointer;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;  font-size: 14px;
  font-weight: 500;
  line-height: 5px;
  list-style: none;
  margin: 0;
  padding: 5px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color:lightgoldenrodyellow;
}



